{% extends "person.html" %}
{% block just %}
<div class="container">
    <h1>Products</h1>
    <table class="table">
        <tbody>
        {% for item in products%}
        <tr>
            <td class="border rounded" style="width: 40%"><img
                    src="data:image/png;base64,{{base64.b64encode(item.photo).decode()}}" width="300" height="300">
            </td>
            <td class="border rounded" style="width: 50%"><p>Name - {{item.name_product}}</p>
                <p>Describe:</p>
                <p>{{item.describe}}</p>
                <p>Size - {{item.size}}</p>
                <p>Price - {{item.price}} rub</p>


                <a href="?product_id={{item.id}}">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ item.id }}"
                            value="{{item.id}}">
                        Добавить в корзину
                    </button>
                </a>

                <!-- Modal -->
                <div class="modal" id="exampleModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Добавлено в корзину</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Ваш товар добавлен в корзину , Вы можете перейти в неё и и оплатить
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Понятно</button>
                                <a href="/box">
                                    <button type="button" class="btn btn-primary">Перейти в корзину</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="?like_id={{item.id}}"><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleMdal{{ item.id }}"
                        style="padding: 0px;">
                    <img src="/static/img/2.png" width="50" height="50">
                </button></a>

                <div class="modal fade" id="exampleMdal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleMdalLabel">Добавлено в Избранное</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Товар добавлен в Избранное
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Понятно
                                    </button>
                                    <a href="/like">
                                        <button type="button" class="btn btn-primary">Перейти в Избранное</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>

        {% endfor %}
        {% if "product_id" in request.args%}
        <script>
                    var myModal = new bootstrap.Modal(document.getElementById('exampleModal{{ request.args["product_id"] }}'), {
                      keyboard: false
                    });
                    myModal.show();

        </script>
        {% endif %}
        {% if "like_id" in request.args%}
        <script>
                    var myModal = new bootstrap.Modal(document.getElementById('exampleMdal{{ request.args["like_id"] }}'), {
                      keyboard: false
                    });
                    myModal.show();

        </script>
        {% endif %}
        </tbody>
    </table>
</div>


{% endblock %}
{% block plus %}
<a href="/new"><button type="button">Создать</button></a>
{% endblock %}