{% extends "base.html" %}
{% block content %}
<div class="col-1">
    {%if auth%}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
         aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <img src="/static/img/xe.png" width="318" height="180">
                <p><h4>Войди в аккаунт или создай учетную запись</h4></p>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control", type="email") }}<br>
                        {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class="form-control", type="password") }}<br>
                        {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <div>{{ message }}</div>
                </form>
                <h7>У вас ещё нет учётной записи? <a href="/registration" style="#000000">Зарегистрируйтесь</a>
                </h7>

            </div>
        </div>
    </div>
    {%else%}
    <div class="offcanvas offcanvas-end show" tabindex="-1" id="ffcanvasRight"
         aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <h1>Registration</h1>
                Enter your details

                <form class="login_form" method="post">

                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control", type="email") }}<br>
                        {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class="form-control", type="password") }}<br>
                        {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(class="form-control") }}<br>
                    </p>
                    <p>
                        {{ form.city.label }}<br>
                        {{ form.city(class="form-control") }}<br>
                    </p>
                    <p>
                        {{ form.gender.label }}<br>
                        {{ form.gender() }}<br>
                    </p>
                    <p>
                        {{ form.cards.label }}<br>
                        {{ form.cards(class="form-control") }}<br>
                    </p>

                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <div>{{ message }}</div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}


</div>
{% endblock %}

{% block head %}
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="{{'#offcanvasRight' if auth else '#ffcanvasRight' }}"
        aria-controls="offcanvasRight" style="padding: 0px;">
    <img src="/static/img/1.png" width="50" height="50"></button>

{% endblock %}
